<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div class="container mt-5 me-0">
        <div class="col-md-6">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h1>URL-SHORTNER</h1>
                             
                            <% if (locals.id) { %>
                                <p>Generated URL : http://localhost:8001/url/<%= id %></p>
                            <% } %>
                        
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/url">
                            <label for="">Enter Your Original URL :</label>
                            <input type="text" name="url" id="" placeholder="https://example.com">
                            <button type="submit" class="btn btn-primary btn-sm">Generate</button>
                            <div>
                             <% if (locals.urls) { %>
                                <table class="table bordered w-300">
                                 <thead>
                                     
                                         <th>S.No</th>
                                         <th>ShortID</th>
                                         <th>Redirect</th>
                                         <th>Clicks</th>
                                    
                                 </thead>
                                 <tbody>
                                     <% urls.forEach((url,index) => { %>
                                     <tr>
                                             <td><%= index + 1 %></td>
                                             <td><%= url.shortId %></td>
                                             <td><%= url.redirectURL %></td>
                                             <td><%= url.visitHistory.length %></td>
                                     </tr>
                                     <% }) %>
                                 </tbody>
                                </table>
                             <% } %>
                            </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>

